@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Space Force: The 6th Arm of the Military</h1>
    <p1 class="lead">Welcome to Space Force Camp.  You are now the front line in defending Earth and the USA from all threats foreign threats to space from Earth and beyond.</p1>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: white">Space Force Requirements</h2>
        <p style="color: white">
            Are you ready to join the most advanced fighting force in the know universe?  Fiond out if you have what it takes to join the force.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white">Space Force Mission</h2>
        <p style="color: white">Space Force was designated to be an elite arm of the military to protect US interest in space and beyond.  FInd out more about our mission here.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white">Space Force History</h2>
        <p style="color: white">Complete record of acheivements, awards and history of the Space Force.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>